
/* Your CSS Code here. */
body {
	font-family:Ariel, sans-serif;
	margin:20px;
	background-color: #f5f5f5;
}
nav ul {
	list-style:none;
	padding:0;
	display:flex;
	gap: 15px;
}
nav a {
	text-decoration: none;
	color: #333;
	font-weight: bold
}
img {
	width: 200px;
	height: auto;
	margin-top: 15px;
	border-radius: 8px
}
ul {
	margin-top: 156px;
}